<ul>
  <li *ngFor="let example of this.examples; let i = index">
    <p (click)="this.current = i">example {{example}}</p>
  </li>
</ul>
<h1>{{this.examples[this.current]}}</h1>
<ng-container [ngSwitch]="this.current">
  <app-three-example *ngSwitchCase="0"></app-three-example>
  <app-three-example2 *ngSwitchCase="1"></app-three-example2>
</ng-container>
<!-- <div class="Table">
  <table>
    <thead>
      <tr>
        <td>test1</td>
        <td>test2</td>
        <td>test3</td>
        <td>test4</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
fijorejiofpkjrkepg[pnjtrp[gokjrtkgpkjirthjpokojbh]]
        </td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
      </tr>
      <tr>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</div> -->
